<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265222465598-5p35s2lvtr51v2o2vqb6val7sf735itf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265222465598-5p35s2lvtr51v2o2vqb6val7sf735itf</string>
	<key>API_KEY</key>
	<string>AIzaSyBJy1168hU2T1ALSH42hwDrCFZNsvZ5BqI</string>
	<key>GCM_SENDER_ID</key>
	<string>265222465598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bancvestApp</string>
	<key>PROJECT_ID</key>
	<string>bancvest-ec2d6</string>
	<key>STORAGE_BUCKET</key>
	<string>bancvest-ec2d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265222465598:ios:9a62a376f3c52c72ec896f</string>
</dict>
</plist>