<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839475981029-rakktb1irourhpgaecjfo09gkmfbgie8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839475981029-rakktb1irourhpgaecjfo09gkmfbgie8</string>
	<key>API_KEY</key>
	<string>AIzaSyCE3-3CrwXkWBWdFTlUPgZWs5R2ILmgb1U</string>
	<key>GCM_SENDER_ID</key>
	<string>839475981029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bancvestApp</string>
	<key>PROJECT_ID</key>
	<string>bancvest-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bancvest-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839475981029:ios:cfe1f99d9d0f432cb1820c</string>
</dict>
</plist>